.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.24em 1em;
  z-index: 3;

  %nav-icon {
    position: relative;
    z-index: 1;
  }

  &__nav {
    &__menuIcon {
      font-size: 1.5em;
      cursor: pointer;
      @extend %nav-icon;
      @include mq($from: desktop) {
        display: none;
      }
    }

    &__faceIcon {
      font-size: 1.5em;
      float: right;
      @extend %nav-icon;
      @include mq($from: desktop) {
        display: none;
      }
    }

    &__menuList {
      position: fixed;
      background-color: $color_purple;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      overflow: hidden;
      text-align: center;
      transition: bottom ease .5s, padding-top ease-in .3s;

      @include mq($from: desktop) {
        bottom: auto;
        background-color: transparent;
        transition: background-color ease-out .3s;

        li {
          display: inline-block;
        }
      }

      &--opened {
        padding-top: 4.125em;
        bottom: 0;
        height: 100vh;
      }

      &--scrolled {
        background-color: $color_purple;
      }

      &__link {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 2em;
        text-transform: uppercase;
      }

    }
  }
}
