$font_extensions: (
  (
    family: 'nunito',
    name: 'nunito-light'
  ),
  (
    family: 'maaxRounded',
    name: 'maax-rounded'
  ),
  (
    family: 'maaxRounded',
    name: 'maax-rounded-bold',
    weight: 'bold'
  ),
  (
    family: 'yta',
    name: 'yta'
  )
);

$color_purple: #553457;

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
