$font_extensions: (
  (
    family: 'nunito',
    name: 'nunito-light'
  ),
  (
    family: 'maaxRounded',
    name: 'maax-rounded'
  ),
  (
    family: 'maaxRounded',
    name: 'maax-rounded-bold',
    weight: 'bold'
  ),
  (
    family: 'yta',
    name: 'yta'
  )
);
