/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-light.eot");
  src: url("../fonts/nunito-light.eot") format("embedded-opentype"), url("../fonts/nunito-light.ttf") format("truetype"), url("../fonts/nunito-light.woff") format("woff"), url("../fonts/nunito-light.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "maaxRounded";
  src: url("../fonts/maax-rounded.eot");
  src: url("../fonts/maax-rounded.eot") format("embedded-opentype"), url("../fonts/maax-rounded.ttf") format("truetype"), url("../fonts/maax-rounded.woff") format("woff"), url("../fonts/maax-rounded.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "maaxRounded";
  src: url("../fonts/maax-rounded-bold.eot");
  src: url("../fonts/maax-rounded-bold.eot") format("embedded-opentype"), url("../fonts/maax-rounded-bold.ttf") format("truetype"), url("../fonts/maax-rounded-bold.woff") format("woff"), url("../fonts/maax-rounded-bold.svg") format("svg");
  font-weight: "bold";
  font-style: normal;
}

@font-face {
  font-family: "yta";
  src: url("../fonts/yta.eot");
  src: url("../fonts/yta.eot") format("embedded-opentype"), url("../fonts/yta.ttf") format("truetype"), url("../fonts/yta.woff") format("woff"), url("../fonts/yta.svg") format("svg");
  font-style: normal;
}

[class^="yta-"], [class*=" yta-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yta-JT_logo:before {
  content: "\e906";
}

.yta-KOC_logo:before {
  content: "\e907";
}

.yta-qu_02:before {
  content: "\e908";
}

.yta-qu_01:before {
  content: "\e909";
}

.yta-paw_plus:before {
  content: "\e905";
}

.yta-slide_icon:before {
  content: "\e904";
  color: #fff;
}

.yta-paw_print:before {
  content: "\e903";
}

.yta-yta_icon-white:before {
  content: "\e900";
  color: #fff;
}

.yta-menu_icon:before {
  content: "\e901";
  color: #fff;
}

.yta-slide_icon-up-down:before {
  content: "\e902";
  color: #fff;
}

.yta-twitter:before {
  content: "\e90a";
}

.yta-instagram:before {
  content: "\e90b";
}

.yta-facebook:before {
  content: "\e90c";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.24em 1em;
  z-index: 3;
}

.header .header__nav__menuIcon, .header .header__nav__faceIcon {
  position: relative;
  z-index: 1;
}

.header__nav__menuIcon {
  font-size: 1.5em;
  cursor: pointer;
}

@media (min-width: 61.25em) {
  .header__nav__menuIcon {
    display: none;
  }
}

.header__nav__faceIcon {
  font-size: 1.5em;
  float: right;
}

@media (min-width: 61.25em) {
  .header__nav__faceIcon {
    display: none;
  }
}

.header__nav__menuList {
  position: fixed;
  background-color: #553457;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  text-align: center;
  transition: bottom ease .5s, padding-top ease-in .3s;
}

@media (min-width: 61.25em) {
  .header__nav__menuList {
    bottom: auto;
    background-color: transparent;
    transition: background-color ease-out .3s;
  }
  .header__nav__menuList li {
    display: inline-block;
  }
}

.header__nav__menuList--opened {
  padding-top: 4.125em;
  bottom: 0;
  height: 100vh;
}

.header__nav__menuList--scrolled {
  background-color: #553457;
}

.header__nav__menuList__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2em;
  text-transform: uppercase;
}

.home {
  background-image: url("../img/bg-home_320.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.25em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 61.25em) {
  .home {
    background-image: url("../img/puppiness.jpg");
  }
}

.home__video {
  display: none;
}

@media (min-width: 61.25em) {
  .home__video {
    display: block;
    position: fixed;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
  }
}

.home__logo {
  width: 11.25em;
  height: 11.25em;
}

.home__down {
  position: absolute;
  bottom: 1em;
  font-size: 1.5em;
}

@media (min-width: 61.25em) {
  .home__logo, .home__down {
    display: none;
  }
}

.aboutUs {
  position: relative;
  overflow: hidden;
  padding: 4em;
  background-color: #f06252;
}

@media (min-width: 46.25em) {
  .aboutUs {
    padding-left: 24em;
  }
  .aboutUs::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20em;
    background-image: url("../img/aboutus_bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 61.25em) and (max-width: 112.49em) {
  .aboutUs::before {
    background-attachment: fixed;
    background-position-x: -25em;
  }
}

.aboutUs__containerImg {
  text-align: center;
}

.aboutUs__containerImg__img {
  position: relative;
  display: inline-block;
}

@media (min-width: 46.25em) {
  .aboutUs__containerImg__img img {
    height: 25em;
  }
}

.aboutUs__containerImg__img__isologo {
  position: absolute;
  width: 6.25em;
  height: 6.25em;
  bottom: 0;
  right: 0;
}

.aboutUs__title {
  color: #553457;
  font-size: 2.5em;
  text-align: center;
  margin: 1em 0 0.5em;
}

.aboutUs__desc {
  color: #fff;
}

.aboutUs__pawPrint {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  opacity: 0.1;
}

@media (min-width: 46.25em) {
  .aboutUs__pawPrint {
    left: 20em;
  }
}

@keyframes dog-barking-animation {
  from {
    right: 8.5em;
    transform: scale(0);
  }
  to {
    right: 7.5em;
    transform: scale(1);
  }
}

.aboutUs__bark {
  display: none;
  position: absolute;
  top: 2em;
  right: 7.5em;
  transform-origin: left;
  animation-name: dog-barking-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@media (min-width: 46.25em) {
  .aboutUs__bark {
    display: block;
  }
}

*, a {
  font-family: nunito;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: maaxRounded;
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

p {
  line-height: 1.3;
}

section, footer {
  position: relative;
  z-index: 2;
}

.adopt-title,
.adopt-footer {
  background-color: #ffc85e;
  padding: 32px;
  text-align: center;
}

.adopt-title h2 {
  color: #553457;
}

.adopt-title i {
  font-size: 32px;
  margin-bottom: 10px;
  display: block;
}

.adopt-list {
  display: flex;
  overflow: hidden;
}

.adopt-card-image {
  height: 250px;
  background-position: center;
  background-size: cover;
}

.adopt-card-image.dog {
  background-image: url(../img/dog.jpg);
}

.adopt-card-image.cat {
  background-image: url(../img/cat.jpg);
}

.adopt-card-image.bunny {
  background-image: url(../img/bunny.jpg);
}

.adopt-card:nth-child(odd) {
  background-color: #f06252;
}

.adopt-card:nth-child(even) {
  background-color: #553457;
}

.adopt-card-desc {
  text-align: center;
  color: white;
  padding: 30px 20px 20px;
}

.adopt-card {
  position: relative;
}

.adopt-card:first-child:after,
.adopt-card:last-child:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.adopt-card:first-child {
  margin-left: -50%;
}

.adopt-card:last-child {
  margin-right: -50%;
}

.adopt-card-desc {
  position: relative;
}

.adopt-card-paw {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

.adopt-card-paw i {
  font-size: 32px;
  background-color: #553457;
  padding: 10px;
  border-radius: 50%;
}

.adopt-card-desc h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.adopt-footer i {
  font-size: 32px;
}

.camp {
  background-color: #f06252;
  padding: 32px 32px 52px;
  text-align: center;
}

.camp-title h2 {
  color: #ffc85e;
  margin-top: 10px;
}

.camp-title i {
  color: #553457;
  font-size: 32px;
}

.camp-card {
  color: white;
}

.camp-card-map {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  margin: 20px auto;
}

.camp-card h3,
.camp-card h3 + time {
  text-transform: uppercase;
}

.cmap-card address {
  margin-bottom: 10px;
}

.testimony {
  background-color: #553457;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 80px 60px 60px;
}

.testimony blockquote {
  max-width: 200px;
  margin: 0 auto;
  line-height: 1.4;
  position: relative;
  font-size: 20px;
}

.testimony .testimony-quote:before,
.testimony .testimony-quote:after {
  font-family: yta;
  color: #ffc85e;
  position: absolute;
  font-size: 30px;
}

.testimony .testimony-quote:before {
  content: "\e909";
  top: -35px;
  left: -5px;
}

.testimony .testimony-quote:after {
  content: "\e908";
  right: -10px;
}

.testimony b {
  font-weight: bold;
}

footer {
  padding: 32px 32px 24px;
  position: relative;
  background-color: #553457;
  color: white;
  text-align: center;
}

.footer-paw {
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
}

.footer-paw i {
  background-color: #553457;
  border-radius: 50%;
  padding: 12px;
  font-size: 32px;
}

footer nav ul li {
  display: inline;
  margin: 0 4px;
}

footer nav ul li a {
  text-decoration: none;
}

.footer-socialnetworks, .footer-sponsors {
  margin-bottom: 16px;
}

.footer-socialnetworks i {
  font-size: 28px;
  color: #ffc85e;
}

.footer-sponsors i {
  font-size: 44px;
  color: #301b31;
}

.footer-copy {
  font-weight: bold;
  font-size: 14px;
}

.only-read {
  display: inline-block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
/*# sourceMappingURL=index.css.map */