@import '_reset';
@import '_variables';
@import '_mq';
@import '_mixins';
@import '_fonts';
@import '_header';
@import '_home';

  *, a {
    font-family: nunito;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: maaxRounded;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
  }

  p {
    line-height: 1.3;
  }

  section, footer {
    position: relative;
    z-index: 2;
  }

  .aboutUs {
    background-color: #f06252;
    padding: 40px;
  }

  .aboutUs-containerImg {
    text-align: center;
  }

  .aboutUs-img {
    position: relative;
  }

  .aboutUs-isologo {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
  }

  .aboutUs-title {
    color: #553457;
    font-size: 32px;
    text-align: center;
    margin: 14px 0 5px;
  }

  .aboutUs-desc {
    color: #fff;
  }

  .adopt-title,
  .adopt-footer {
    background-color: #ffc85e;
    padding: 32px;
    text-align: center;
  }

  .adopt-title h2 {
    color: #553457;
  }

  .adopt-title i {
    font-size: 32px;
    margin-bottom: 10px;
    display: block;
  }

  .adopt-list {
    display: flex;
    overflow: hidden;
  }

  .adopt-card-image {
    height: 250px;
    background-position: center;
    background-size: cover;
  }

  .adopt-card-image.dog {
    background-image: url(../img/dog.jpg);
  }

  .adopt-card-image.cat {
    background-image: url(../img/cat.jpg);
  }

  .adopt-card-image.bunny {
    background-image: url(../img/bunny.jpg);
  }

  .adopt-card:nth-child(odd) {
    background-color: #f06252;
  }

  .adopt-card:nth-child(even) {
    background-color: #553457;
  }

  .adopt-card-desc {
    text-align: center;
    color: white;
    padding: 30px 20px 20px;
  }

  .adopt-card {
    position: relative;
  }

  .adopt-card:first-child:after,
  .adopt-card:last-child:after {
    content: " ";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .adopt-card:first-child {
    margin-left: -50%;
  }

  .adopt-card:last-child {
    margin-right: -50%;
  }

  .adopt-card-desc {
    position: relative;
  }

  .adopt-card-paw {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
  }

  .adopt-card-paw i {
    font-size: 32px;
    background-color: #553457;
    padding: 10px;
    border-radius: 50%;
  }

  .adopt-card-desc h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .adopt-footer i {
    font-size: 32px;
  }

  .camp {
    background-color: #f06252;
    padding: 32px 32px 52px;
    text-align: center;
  }

  .camp-title h2 {
    color: #ffc85e;
    margin-top: 10px;
  }

  .camp-title i {
    color: #553457;
    font-size: 32px;
  }

  .camp-card {
    color: white;
  }

  .camp-card-map {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    margin: 20px auto;
  }

  .camp-card h3,
  .camp-card h3+time {
    text-transform: uppercase;
  }

  .cmap-card address {
    margin-bottom: 10px;
  }

  .testimony {
    background-color: #553457;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 80px 60px 60px;
  }

  .testimony blockquote {
    max-width: 200px;
    margin: 0 auto;
    line-height: 1.4;
    position: relative;
    font-size: 20px;
  }

  .testimony .testimony-quote:before,
  .testimony .testimony-quote:after {
    font-family: yta;
    color: #ffc85e;
    position: absolute;
    font-size: 30px;
  }

  .testimony .testimony-quote:before {
    content: "\e909";
    top: -35px;
    left: -5px;
  }

  .testimony .testimony-quote:after {
    content: "\e908";
    right: -10px;
  }

  .testimony b {
    font-weight: bold;
  }

  footer {
    padding: 32px 32px 24px;
    position: relative;
    background-color: #553457;
    color: white;
    text-align: center;
  }

  .footer-paw {
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
  }

  .footer-paw i {
    background-color: #553457;
    border-radius: 50%;
    padding: 12px;
    font-size: 32px
  }

  footer nav ul li {
    display: inline;
    margin: 0 4px;
  }

  footer nav ul li a {
    text-decoration: none;
  }

  .footer-socialnetworks, .footer-sponsors {
    margin-bottom: 16px;
  }

  .footer-socialnetworks i {
    font-size: 28px;
    color: #ffc85e;
  }

  .footer-sponsors i {
    font-size: 44px;
    color: #301b31;
  }

  .footer-copy {
    font-weight: bold;
    font-size: 14px;
  }

  .only-read {
    display: inline-block;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
